html {
    background-color: #b46d2b;
    display:          table;
    margin:           auto;
}

.divider {
    height:           3px;
    background:       black;
    border:           none;
}

div.spacing{
    padding-top:      15px;
    padding-bottom:   15px;
}
body {
    margin:           auto;
    text-align:       center;
}

a:link {
    text-decoration:  none;
    color:          #704309;
}

a:visited {
    text-decoration:  none;
    color:          #492a02;
}

a:active {
    text-decoration:  none;
    color:          #492a02;
}

div.foreground {
    background-color: #FFF;
    padding-left:     300px;
    padding-right:    300px;
    padding-bottom:   30px;
    border-radius:    8px;
}

div.header {
    background-color: #FFF;
    padding-left:     300px;
    padding-right:    300px;
    padding-top:      40px;
    padding-bottom:   40px;
    text-transform:   uppercase;
    text-shadow:      2px 2px lightgray;
    font-size:        large;
    text-align:       center;
}

div.explore {
    background-color: #e4e1d3;
    padding-left:     300px;
    padding-right:    300px;
    padding-top:      21px;
    padding-bottom:   20px;
}

.headerbutton {
    background-color: gold;
    font-size:        20px;
    padding:          15px;
    border-radius:    3px;
    border:           2px solid #d48318;
}

div.titlehead {
    border-radius:    5px;
    border:           5px solid #e7a821;
}

.welcomer {
    padding-top:      30px;
    text-decoration-line: underline;
}

div.description {
    inline-size:      500px;
    overflow-wrap:    break-word;
    font-size:        larger;
    text-align:       left;
}
